@using NCBPlacementWebsite.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The National College Placement Cell</title>
    
    <link href="~/1459933172national_colllege_basavanagudi_logo_5sk_icon.ico" rel="icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script>
    function passalert() {
        alert("Minimum Length of Password Is \"6\",Password Should contain Uppercase Letter, Lowercase Letter, Special Character and Number")
    }
    </script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#aa0000",
                    "text": "#ffdddd"
                },
                "button": {
                    "background": "#ff0000"
                }
            },
            "showLink": false,
            "theme": "classic"
        });
    </script>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The National College Placement Cell", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>

                        }
                    }
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            if (User.IsInRole("Student"))
                            {

                                try
                                {
                                    Guid Id = Guid.Parse(Request.Cookies["SId"].Value);
                                    <li>@Html.ActionLink("My Profile", "MyProfile", "Home", new { id = Id }, null)</li>
                                    <li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>


                                }
                                catch
                                {

                                }



                            }

                        }


}
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                    
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="border-bottom:2px solid #FF5E33; "/>
        <h4 class="text-primary">Address.</h4>
        <address>
            <b>
                The National College Buildings,<br />
                Pampa Mahakavi Road,<br />
                Basavanagudi, Bangalore - 560 004,<br />
                Karnataka, India.<br />
                Phone : +9180 26674441 <br />
                
            </b>

        </address>
        <hr style="border-bottom:2px solid #FF5E33; " />
        <footer>
            <p>&copy; @DateTime.Now.Year - The National College Placement Cell</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
